.resume-container {
    position: relative;
    min-height: 100vh;
    /* background-color: #04526c; */
    background-image: linear-gradient(135deg, #558a9c 0%, #033e53 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    
}