body {
  font-family: 'Arial, sans-serif';
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

main {
  padding: 20px;
}

.projects, .courses, .about {
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  border-bottom: 2px solid #007acc;
  padding-bottom: 10px;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}